p {
  font-family: 'Pacifico';
  color: #424242;
}

.product_view {
  display: flex;
  margin: 3rem auto;
  max-width: 1200px;
  background: #f9fdff;
  border-radius: 1rem;
  padding: 2rem;
}

.product_view__1 {
  flex: 1;
  text-align: center;
}

.product_view__1__img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 1px 3px #ccc;
}

.product_view__1__login {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #1e70d8 !important;
}

.product_view__2_header {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #1e70d8 !important;
}

.a {
  color: #1e70d8 !important;
  font-size: 1rem;
}

.product_view__2 {
  flex: 2;
}

.product_view__2__flex {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product_view__2__flex__date {
  font-size: 0.8rem;
  font-weight: bold;
  color: #9c9c9c;
}

.product_view__2__flex__data {
  font-size: 0.8rem;
  font-weight: bold;
  color: #777777;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
