.content {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  background: lightsalmon;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid tomato;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 2rem 0;
  grid-gap: 2rem;
  grid-auto-flow: dense;
  align-items: stretch;
  width: 100%;
  background: #fcfdfd;
}

.item {
  grid-row: span 1;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 4px #ccc;
  position: relative;
}

.item__img {
  margin-right: 1rem;
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 1px 4px #ccc;
}

.item__details {
  flex: 1;
  height: 70px;
  padding: 0.2rem 0.5rem;
}

.item__absolute {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 0.6rem;
  font-weight: normal;
  color: #757575;
  z-index: 1;
  display: flex;
}

.item__absolute__capsule {
  border: 1px solid #757575;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 0.7rem;
}

.item__absolute__capsule__1 {
  background: #757575;
  color: #fff;
  padding: 5px;
}

.item__absolute__capsule__2 {
  color: #0f0f0f;
  background: inherit;
  padding: 5px;
  min-width: 30px;
  text-align: center;
}

.item__name {
  font-weight: 600;
  color: #1e70d8;
  letter-spacing: 0.1px;
  font-size: 1rem;
  margin: 0.3rem 0;
  border-bottom: 1px solid transparent;
  display: inline;
  cursor: pointer;
}

.item__name:hover {
  border-color: #1e70d8;
}

.item__desc {
  letter-spacing: 0.2px;
  font-size: 0.8rem;
  color: #757575;
  font-weight: 500;
  margin-top: 0.3rem;
}

.loading {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3px;
  font-family: 'Pacifico';
  color: #5b5b5b;
  margin-top: 25%;
}
